header{
	background-color:green;
	text-align:center;
	border:solid 2px yellow;
	}
h1{
	color:white;
	text-decoration-line:underline;
	text-shadow:0px 1px 5px yellow;
	font-variant:small-caps;
	font-family:'Arial';
	padding:1px;
}
body{
	background-color:darkgray;
}
p{
	background-color:wheat;
	color:black;
	text-align:center;
	font-size:20px;
	font-family:'Times New Roman';
	line-height:1.6;
	margin:5px;
	border-style:solid;
	border-color:blue;
	border-width:3px;
	border-radius:1px;
	padding:20px;
	float:left;
	width:48%;
	box-sizing:border-box;
}
span{
	font-style:italic;
	font-weight:bold;
	text-decoration:underline;
}